.Mine-page {
  background-color: brown;

  .title {
    padding: 20px;
    margin: 0;
    color: #fff;
  }

  .counter {
    padding-left: 20px;
    color: #fff;
  }

  .btn {
    margin: 20px;
  }
}
